<f:layout name="Default" />
<f:section name="main">

    <f:if condition="{bIpToNationActionSwitch}">
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" onClick="document.cookie='IPD=0;path=/';"><span aria-hidden="true">×</span></button>

            <div class="row">
                <div class="col-sm-11">
                    <p>
                    <f:for each="{aIpToNation}" as="oIpToNation" iteration="i">
                        <f:if condition="{i.isFirst}">
                            <f:then>
                                <f:format.raw>{oIpToNation.info}</f:format.raw>&nbsp;<f:format.raw>{oIpToNation.labelLang}</f:format.raw>
                            </f:then>
                            <f:else>
                                , <f:format.raw>{oIpToNation.labelLang}</f:format.raw>
                            </f:else>
                        </f:if>
                    </f:for>
                    .</p>
                    <f:for each="{aIpToNation}" as="oIpToNation" iteration="i">
                        <a href="{f:uri.typolink(parameter: '{oIpToNation.target}')}" class="btn btn-primary">
                            {oIpToNation.labelSwitch}
                        </a>
                    </f:for>
                    <button type="button" class="btn btn-danger" data-dismiss="alert" aria-label="Close" onClick="document.cookie='IPD=0;path=/';">
                        {aIpToNation.0.labelDismiss}
                    </button>
                </div>
            </div>



        </div>
    </f:if>


</f:section>

<div class="alert alert-warning alert-dismissible" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button> <strong>Warning!</strong> Better check yourself, you're not looking too good. </div>