<f:layout name="Default" />
<f:section name="main">

    <f:if condition="{bHttpAcceptLanguageSwitch}">
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" onClick="document.cookie='LD=0;path=/';"><span aria-hidden="true">×</span></button>

            <div class="row">
                <div class="col-sm-11">
                    <f:format.html>{oHttpAcceptLanguage.info}</f:format.html>
                    <a href="{f:uri.typolink(parameter: '{oHttpAcceptLanguage.target}')}" class="btn btn-primary">
                        {oHttpAcceptLanguage.labelSwitch}
                    </a>
                    <button type="button" class="btn btn-danger" data-dismiss="alert" aria-label="Close" onClick="document.cookie='LD=0;path=/';">
                        {oHttpAcceptLanguage.labelDismiss}
                    </button>
                </div>
            </div>


        </div>
    </f:if>


</f:section>

<div class="alert alert-warning alert-dismissible" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button> <strong>Warning!</strong> Better check yourself, you're not looking too good. </div>